<div class="card">
<div class="card-block">
<h1>Profile Page for <%= @user.full_name %></h1>
<div class="form-group">
<div class="row">
  <div class="col-sm-4">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: "rounded-circle" %>
    <% end %>
  </div>
</div>
</div>
<p><%= @user.username %></p>

<p><%= render @user.posts.reverse %></p>

</div>
</div>